<div class="wrap pt-3" *ngIf="commentState$ | async as commentState; else loader">
  <div class="container">
    <div class="row">
      <input type="text" class="form-control col-md-10" (input)="folow()" [(ngModel)]="searchField" placeholder="Write the phrase or words" />
      <button type="button" class="col mt-sm-2 ml-sm-0 mt-md-0 btn btn-primary ml-md-2 float-right addBtn"  (click)="searchComment()">Search</button>
    </div>
  </div>

  <div class="container mt-4 mb-4">
    <div class="row">
      <h4>Write new topic here</h4>
      <textarea [(ngModel)]="textArea" class="form-control rounded-20 " id="exampleFormControlTextarea1" rows="3"></textarea>
      <button type="button" class="btn btn-primary float-right mt-2 addBtn" (click)="addTopic()">Public new topic</button>
    </div>
  </div>

   <app-comments [comment]="c" *ngFor="let c of comments['comments'];let i = index " [ngClass]="i%2?'even':'odd'">
  </app-comments>
  <!-- <app-comments [comment]="c" *ngFor="let c of (commentState$ | async).comments; let i = index" [ngClass]="i % 2 ? 'even' : 'odd'"></app-comments> -->
</div>

<ng-template #loader>
  <h1 class="center">Load data</h1>
</ng-template>
